<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.czming.detection.review.mapper.ReviewTaskMapper">
    <insert id="insertReviewTask" useGeneratedKeys="true" keyProperty="id">
        insert into review_task(camera_id, detected_image, location, capture_time, review_time, violated)
        VALUES (#{cameraId}, #{detectedImage}, #{location}, #{captureTime}, #{reviewTime}, #{violated})
    </insert>

    <update id="updateViolated">
        update review_task
        <set>
            violated = #{violated}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateStatus">
        update review_record
        <set>
            status = #{status}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateReviewTask">
        update review_task
        <set>
            id = id,
            <if test="cameraId != null">
                camera_id = #{cameraId},
            </if>
            <if test="detectedImage != null">
                detected_image = #{detectedImage},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="captureTime != null">
                capture_time = #{captureTime},
            </if>
            <if test="reviewTime != null">
                review_time = #{reviewTime},
            </if>
            <if test="violated != null">
                violated = #{violated},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </update>

    <update id="markProcessingIfPending">
        update review_task
        <set>
            status = 'PROCESSING'
        </set>
        <where>
            id = #{id} and status = 'PENDING'
        </where>
    </update>


    <select id="selectReviewTaskById" resultType="net.czming.model.detection.review.entity.ReviewTask">
        select * from review_task where id = #{id}
    </select>

    <select id="selectPendingReviewTask" resultType="net.czming.model.detection.review.entity.ReviewTask">
        select * from review_task where status = 'PENDING' order by rand() limit 100
    </select>
</mapper>